.collection.places-list{
    height: 100%;
    width: 102%; 
    overflow: auto;
}

.collection-overflow {
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

nav .brand-logo {
    font-size: 1.6rem;
}